<mat-card class="header-wrap">
    <h1 class="page-title">Accounting of Personnel</h1>
    <div *ngIf="this.router.url !== '/signin' && this.router.url !== '/menu'">
        <i class="material-icons" (click)="onBack()">keyboard_backspace</i>
    </div>
    <div class="info" *ngIf="this.router.url !== '/signin'">
        <!-- <span>{{ authService.currentUser.name }} {{ authService.currentUser.surname }} </span> -->
        <i class="material-icons" (click)="authService.logout()">exit_to_app</i>
    </div>
</mat-card>

<router-outlet></router-outlet>

<footer>
    <mat-card>
        <p>(C) Alex Hyiravets</p>
    </mat-card>
</footer>