<mat-card>
  <div class="form-wrap">
    <h1>Sign in</h1>

    {{ errors }}

    <form (ngSubmit)="signin()" novalidate class="form">

      <mat-form-field>
        <input required matInput placeholder="Email" [(ngModel)]="user.email" name="email">
      </mat-form-field>

      <mat-form-field>
        <input type="password" required matInput placeholder="Password" [(ngModel)]="user.password" name="password">
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>

  </div>
</mat-card>