.form-wrap
    display: flex
    flex-direction: column
    width: 100%

.radio-wrap
    display: flex
    justify-content: space-around
    align-items: center
    width: 50%
    margin-bottom: 10px
