<mat-card>

  <h2>List of Employees</h2>

  <div class="search-wrap">
    <mat-form-field>
      <input class="search" matInput [(ngModel)]="searchText" placeholder="Search">
    </mat-form-field>
  </div>

  <label>Subdivision:
      <mat-form-field *ngIf="subdivisions">
          <mat-select placeholder="Choose subdivision to show" #currentSubdivision
                      (change)="onSubdivChange(currentSubdivision.value)" >            
              <mat-option value="showAll">
                All
              </mat-option>
              <mat-option *ngFor="let sub of subdivisions" [value]="sub.subdivision">
                {{ sub.subdivision }}
              </mat-option>
          </mat-select>
      </mat-form-field>
    </label><br><br>
  
  <label>Show only with Science Degree:
    <mat-checkbox [(ngModel)]="hasScienceDegree"></mat-checkbox>
  </label><br><br>

   <label>Show dismissed:
    <mat-checkbox [(ngModel)]="isShowDismissed"></mat-checkbox>
  </label><br><br>

  <label>Retirement age:
    <mat-checkbox [(ngModel)]="isOnlyRetirenmentAge"></mat-checkbox>
  </label><br>

<br><br>
  <div class="table-wrap">
    <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let row of displayedRows">{{ row }}</th>
        </tr>
      </thead>
      <tbody *ngIf="employees">
        <tr *ngFor="let emp of currentEmployees | filter: searchText 
                                                | subdivFilter: hasScienceDegree
                                                | dismissalFilter: isShowDismissed
                                                | retirementFilter: isOnlyRetirenmentAge"
             routerLink="/detail/{{emp.tab}}"
             class="row">
          <td>{{ emp.tab }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.position }}</td>
          <td>{{ emp.subdivision }}</td>
          <td>{{ emp.department }}</td>
          <td>{{ emp.arrival }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>

<button class="add-button" routerLink="/add" mat-fab>Add</button>























<!-- <mat-card>
  <h2>List of Employees</h2>
  <button mat-raised-button color="primary" (click)="openDialog()">Add employee</button>
  <ul *ngIf="employees">
    <div *ngFor="let emp of employees">
       Id: {{ emp.id }} <br>
       FIO: {{ emp.FIO }} <br>
       Sex: {{ emp.Sex }} <br>
       Adress: {{ emp.Adress }} <br>
       <hr>
    </div>
  </ul>
</mat-card> -->