<mat-card>
  <h2>List of Employees</h2>
  <div class="search-wrap">
    <mat-form-field>
      <input class="search" matInput [(ngModel)]="searchText" placeholder="Search">
    </mat-form-field>
  </div>
  <div class="table-wrap">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let row of displayedRows">{{ row }}</th>
        </tr>
      </thead>
      <tbody *ngIf="employees">
        <tr *ngFor="let emp of employees | filter : searchText" routerLink="/detail/{{emp.id}}" class="row">
          <td>{{ emp.id }}</td>
          <td>{{ emp.FIO }}</td>
          <td>{{ emp.Sex }}</td>
          <td>{{ emp.Adress }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>

























<!-- <mat-card>
  <h2>List of Employees</h2>
  <button mat-raised-button color="primary" (click)="openDialog()">Add employee</button>
  <ul *ngIf="employees">
    <div *ngFor="let emp of employees">
       Id: {{ emp.id }} <br>
       FIO: {{ emp.FIO }} <br>
       Sex: {{ emp.Sex }} <br>
       Adress: {{ emp.Adress }} <br>
       <hr>
    </div>
  </ul>
</mat-card> -->