<mat-card>
    <h2>Staffing</h2>
  
    <div class="search-wrap">
        <mat-form-field>
          <input class="search" matInput [(ngModel)]="searchText" placeholder="Search">
        </mat-form-field>
      </div>
  
    <div class="table-wrap">
        <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let row of displayedRows">{{ row }}</th>
            </tr>
          </thead>
          <tbody *ngIf="subdivisions">
            <tr *ngFor="let sub of subdivisions | filtersub : searchText" class="row">
              <td>{{ sub.id }}</td>
              <td>{{ sub.subdivision }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
  </mat-card>
