<mat-card>
    <h2>Staffing</h2>
  
    <!-- <div class="search-wrap">
        <mat-form-field>
          <input class="search" matInput [(ngModel)]="searchText" placeholder="Search">
        </mat-form-field>
      </div> -->
  
    <button class="topdf" mat-raised-button color="primary" (click)="exportToExcel()">
        <i class="material-icons">print</i>
    </button>

    <div class="table-wrap">
        <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let row of displayedRows">{{ row }}</th>
            </tr>
          </thead>
          <tbody *ngIf="subdivisions">
            <tr *ngFor="let sub of subdivisions | filtersub : searchText"
                 class="row"
                 routerLink="/staffing/{{ sub.id }}">
              <td>{{ sub.id }}</td>
              <td>{{ sub.name }}</td>
              <td>{{ sub.count }}</td>
              <td>{{ sub.totalSalary }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
  </mat-card>
