<div class="menu-wrap">
  <h2>Menu</h2>
  <mat-list>
    <mat-list-item>
       <button routerLink="/add" mat-button color="primary">Add Employee</button>
    </mat-list-item>
    <mat-list-item>
      <button routerLink="/list" mat-button color="primary">List of Empolyees</button>
    </mat-list-item>
    <mat-list-item>
       <button routerLink="/staffing" mat-button color="primary">Staffing</button>
    </mat-list-item>
  </mat-list>
</div>
  



<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="menuService.isOpenedMenu">

  </mat-sidenav>
  <mat-sidenav-content>

  </mat-sidenav-content>
</mat-sidenav-container> -->