<mat-card *ngIf="staffing">
  <h2>{{ staffing.subdivision }}</h2>
  <button class="topdf" mat-raised-button color="primary" (click)="exportToExcel()">
      <i class="material-icons">print</i>
  </button>
    <div class="table-wrap">
      <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let row of displayedRows">{{ row }}</th>
          </tr>
        </thead>
        <tbody *ngIf="staffing.info">
          <tr *ngFor="let staff of staffing.info | filtersub : searchText"
               class="row"
               routerLink="/staffing/{{ id }}/{{ staff.code }}">
            <td>{{ staff.position }}</td>
            <td>{{ staff.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</mat-card>
