<mat-card *ngIf="staffing">
  <h2>{{ staffing.subdivision }}</h2>
  <mat-card>
    <div class="table-wrap">
      <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let row of displayedRows">{{ row }}</th>
          </tr>
        </thead>
        <tbody *ngIf="staffing.info">
          <tr *ngFor="let staff of staffing.info | filtersub : searchText"
               class="row">
            <td>{{ staff.position }}</td>
            <td>{{ staff.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</mat-card>
