h3
    margin-top: 60px

mat-icon
    &:hover
        cursor: pointer

.top-line
    display: flex
    justify-content: space-between
    align-items: center

    button
        height: 40%

    h2
        height: 65px
        margin-top: 0

li
    height: 50px

.employee-title
    width: 300px

.rb-ml
    margin-left: 10px

.radio-wrap
    display: flex
    align-items: center

.personal-wrap,
.other-wrap
    width: 50%

.info-wrap
    display: flex
    justify-content: space-between

mat-card
    padding-top: 0